* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-image: url('images/blue-vector.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: left top;
    font-family: 'Roboto', sans-serif;
}