* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-image: url('images/blue-vector.png');
    background-size: 90%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: left top;
    font-family: 'Roboto', sans-serif;
}

.main {
    margin: 2.5rem 10rem;
}

.navbar>* {
    margin-right: 3rem;
    color: white;
    font-size: 20px;
}

#logo {
    font-size: 2rem;
    margin-right: 10rem;
}

#btn {
    padding: 0.4rem 1.25rem;
    color: rgb(93, 92, 126);
    background: white;
    border: 1px solid #5097D9;
    border-radius: 1.25rem;
    float: right;
    margin-right: 0;
}

.hero {
    display: flex;
}

.hero img {
    width: 800px;
    margin-left: -7.5rem;
    margin-right: -20rem;
}

.intro {
    color: white;
    font-size: 1.5rem;
    max-width: 28rem;
    margin: 10rem 0 5rem 7rem;
}

.intro h1 {
    font-size: 4.8rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

#btn1 {
    background: #002E59;
    font-size: 1.25rem;
    margin: 1.25rem 0;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 1.5rem;
    border: 0;
}

.container {
    padding: 3rem 6rem;
    background: white;
    width: 48rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 1.5rem;
    line-height: 1.75rem;
    box-shadow: 1px 1px 4px gray;
}

.container h1 {
    color: #26659F;
    margin-bottom: 1rem;
}

.rect {
    display: flex;
    justify-content: space-evenly;
}

.rect>* {
    margin: 2rem 2rem 1rem 2rem;
    background: #26659F;
    width: 12rem;
    height: 6rem;
    border-radius: 1rem;
}

.card1 {
    margin-top: 22rem;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 7.5rem;
}

.card1 h1 {
    color: #26659F;
    margin-bottom: 0.5rem;
}

.l {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 4rem;
}

.c {
    padding-top: 4rem;
    margin-top: 2.5rem;
    width: 16rem;
    text-align: center;
    box-shadow: 1px 1px 4px gray;
    border-radius: 0.5rem;
    color: white;
    background: linear-gradient(to top, white 0%, white 50%, #5097D9 50%, #5097D9 100%);
}

.c div {
    width: 12rem;
    height: 12rem;
    border-radius: 0.5rem;
    margin: 2rem 0 4rem 2rem;
    background: #26659F;
}

a {
    text-decoration: none;
    color: #26659F;
    font-size: 1.5rem;
}

.cx {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    line-height: 1.75rem;
    text-align: justify;
}

.cx h2 {
    color: #26659F;
    margin-bottom: 0.75rem;
}

.cx>* {
    margin: 2.5rem;
    max-width: 38rem;
}

.img-fr {
    width: 22rem;
    height: 10rem;
    background: #C4C4C4;
    border-radius: 0.5rem;
}

.mq {
    text-align: center;
    color: #26659F;
    margin-top: 2rem;
}

.out {
    margin-top: 1.25rem;
    height: 8rem;
    background: #002E59;
    display: flex;
    justify-content: space-between;
}

.out>* {
    margin: 1rem 2rem 0 -2rem;
    height: 6rem;
    width: 15rem;
    background: #C4C4C4;
    border-radius: 0.5rem;
}

.footer {
    height: 5rem;
    background: #5097D9;
}